h1{
    font-family: Playfair Display, sans-serif;
    font-size: 45px;
}
.list-style-none{
    list-style: none;
}
header {
    ul{
    font-size: 19px;
    list-style: none;
    }
    li{
        &:hover{
            text-decoration: underline;
        }
    }
}
.borde-doble{
    border: double 5px rgb(186, 142, 28);
}

