*{
    margin: 0;
    padding: 0;
}
body 
    {
        background-image: url("../Img/banda.png");
        background-size: cover;
        color: black;
        font-family: 'Playfair Display', serif;
    }
footer{
        font-size: 13px;
    }
@media (max-width: 500px){
        body{
            background-image: url("../Img/bandaMobile.jpg");
            background-size: cover;
        }
    }