.caricatura{
    width: 100%;
    height: auto;
}
.los5{
    width: 100%;
    height: auto;
}
.plantel{
    width: 100%;
    height: auto;
}
.formacion{
    width: 100%;
    height: auto;
}

@each $idolo in labruna, pedernera, moreno, munioz, loustau {
    .#{$idolo}-foto{
        background-image: url("../Img/#{$idolo}.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 290px;
        height: 270px;
        border: 3px black double;
    }
}

@media (max-width: 500px){
    .caricatura{
        width: 60%;
        height: auto;
    }
    .los5{
        width: 80%;
        height: auto;
    }
    .plantel{
        width: 80%;
        height: auto;
    }
    .formacion{
        width: 80%;
        height: auto;
    }
}