@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');
h1{
    font-family: Playfair Display, sans-serif;
    font-size: 45px;
}
.list-style-none{
    list-style: none;
}
header ul{
    font-size: 19px;
    list-style: none;
}
body 
    {
        background-image: url("../Img/banda.png");
        background-size: cover;
        color: black;
        font-family: 'Playfair Display', serif;
    }
footer{
    font-size: 13px;
}
@media (max-width: 500px){
body{
    background-image: url("../Img/bandaMobile.jpg");
    background-size: cover;
}
}